/* // normal bootstrap
$xtra-small-screen-width:       332px;  // > xtra xtra small                  //
$small-screen-width:            480px;  // > xtra small                       //
$medium-screen-width:           768px;  // > small && < medium                //
$large-screen-width:            992px;  // > medium && < large                //ipad mini
$xtra-large-screen-width:       1200px; // > large  && < xtra large: ;        //
$xtra-xtra-large-screen-width:  1600px; // > xtra large && < xtra xtra large: //;

// normal bootstrap
$xxsm-layout-width:  100%;
$xsm-layout-width:   100%;
$sm-layout-width:    100%;
$md-layout-width:    768px;
$lg-layout-width:    960px;
$xlg-layout-width:   1170px;
$xxlg-layout-width:  1300px; */
/* 
// normal bootstrap
$xtra-small-screen-width:       332px;  // > xtra xtra small                  //
$small-screen-width:            480px;  // > xtra small                       //
$medium-screen-width:           768px;  // > small && < medium                //
$large-screen-width:            992px;  // > medium && < large                //ipad mini
$xtra-large-screen-width:       1200px; // > large  && < xtra large: ;        //
$xtra-xtra-large-screen-width:  1600px; // > xtra large && < xtra xtra large: //;

// normal bootstrap
$xxsm-layout-width:  100%;
$xsm-layout-width:   100%;
$sm-layout-width:    100%;
$md-layout-width:    90%;
$lg-layout-width:    95%;
$xlg-layout-width:   1170px;
$xxlg-layout-width:  1300px; */
/* line 5, ../sass/dashboard.scss */
.container.dashboard .side-nav {
  float: left;
}
/* line 8, ../sass/dashboard.scss */
.container.dashboard .side-nav .row div:last-child {
  margin-bottom: 0;
}
/* line 12, ../sass/dashboard.scss */
.container.dashboard .dashboard-view {
  float: left;
}
/* line 15, ../sass/dashboard.scss */
.container.dashboard .row.stats {
  height: 1000px;
}

@media only screen and (min-width: 332px) {
  /* line 21, ../sass/dashboard.scss */
  .side-nav {
    width: 100px;
  }

  /* line 24, ../sass/dashboard.scss */
  .dashboard-view {
    width: calc(100% - 100px);
  }
}
@media only screen and (min-width: 992px) {
  /* line 29, ../sass/dashboard.scss */
  .side-nav {
    width: 200px;
  }

  /* line 32, ../sass/dashboard.scss */
  .dashboard-view {
    width: calc(100% - 200px);
  }
}
