@media screen and (min-width: 992px) and (max-width: 1199px) {
  /* line 5, ../sass/md.scss */
  .main-controls {
    position: relative;
    float: left;
    width: 20%;
    border-right: 1px solid black;
    height: inherit;
  }
}
