/* // normal bootstrap
$xtra-small-screen-width:       332px;  // > xtra xtra small                  //
$small-screen-width:            480px;  // > xtra small                       //
$medium-screen-width:           768px;  // > small && < medium                //
$large-screen-width:            992px;  // > medium && < large                //ipad mini
$xtra-large-screen-width:       1200px; // > large  && < xtra large: ;        //
$xtra-xtra-large-screen-width:  1600px; // > xtra large && < xtra xtra large: //;

// normal bootstrap
$xxsm-layout-width:  100%;
$xsm-layout-width:   100%;
$sm-layout-width:    100%;
$md-layout-width:    768px;
$lg-layout-width:    960px;
$xlg-layout-width:   1170px;
$xxlg-layout-width:  1300px; */
/* 
// normal bootstrap
$xtra-small-screen-width:       332px;  // > xtra xtra small                  //
$small-screen-width:            480px;  // > xtra small                       //
$medium-screen-width:           768px;  // > small && < medium                //
$large-screen-width:            992px;  // > medium && < large                //ipad mini
$xtra-large-screen-width:       1200px; // > large  && < xtra large: ;        //
$xtra-xtra-large-screen-width:  1600px; // > xtra large && < xtra xtra large: //;

// normal bootstrap
$xxsm-layout-width:  100%;
$xsm-layout-width:   100%;
$sm-layout-width:    100%;
$md-layout-width:    90%;
$lg-layout-width:    95%;
$xlg-layout-width:   1170px;
$xxlg-layout-width:  1300px; */
/* line 11, ../sass/sm.player.scss */
.sm-player .controls .play {
  height: inherit;
  width: inherit;
  line-height: 50px;
  text-align: center;
}
/* line 18, ../sass/sm.player.scss */
.sm-player .controls .play .icon-hover-boundary {
  cursor: pointer;
}
/* line 22, ../sass/sm.player.scss */
.sm-player .controls .play .icon-hover-boundary i {
  -webkit-transition: text-shadow .3s ease-out;
  font-size: 3em;
}
/* line 28, ../sass/sm.player.scss */
.sm-player .controls .play .icon-hover-boundary:hover {
  opacity: 0.8;
}
/* line 32, ../sass/sm.player.scss */
.sm-player .controls .play .icon-hover-boundary:hover i {
  text-shadow: 1px 1px 0px aquamarine, -1px 0px 0px aquamarine, 1px -1px 0px aquamarine;
  -webkit-transition: text-shadow .3s ease-out;
}
/* line 41, ../sass/sm.player.scss */
.sm-player .progress-container {
  float: left;
  position: relative;
  height: inherit;
  border: 0px solid black;
  overflow: hidden;
}
/* line 48, ../sass/sm.player.scss */
.sm-player .progress-container .progress-time {
  float: left;
  position: relative;
  height: inherit;
  width: 70px;
  border: 0px solid black;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}
/* line 58, ../sass/sm.player.scss */
.sm-player .progress-container .progress-time span {
  line-height: 50px;
  font-size: 14px;
}
/* line 64, ../sass/sm.player.scss */
.sm-player .progress-container .progress-bar-container {
  float: left;
  position: relative;
  height: 50px;
  border-right: 0px solid black;
  border-left: 0px solid black;
  border-radius: 4xp;
}
/* line 74, ../sass/sm.player.scss */
.sm-player .progress-container .progress-bar-container .progress-bar-hover-boundary {
  position: relative;
  width: 100%;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4xp;
  cursor: pointer;
}
/* line 84, ../sass/sm.player.scss */
.sm-player .progress-container .progress-bar-container .progress-bar-hover-boundary .helper {
  position: relative;
  width: inherit;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
/* line 91, ../sass/sm.player.scss */
.sm-player .progress-container .progress-bar-container .progress-bar-hover-boundary .helper .on-hover-thick {
  position: absolute;
  width: inherit;
  height: 4px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
/* line 99, ../sass/sm.player.scss */
.sm-player .progress-container .progress-bar-container .progress-bar-hover-boundary .helper .on-hover-thick .progress-bar-background {
  width: inherit;
  height: inherit;
  background: #ececec;
  border-radius: 4xp;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
/* line 106, ../sass/sm.player.scss */
.sm-player .progress-container .progress-bar-container .progress-bar-hover-boundary .helper .on-hover-thick .progress-bar-background .loaded-duration {
  position: absolute;
  height: inherit;
  width: 0px;
  background: #dbdbdb;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
/* line 114, ../sass/sm.player.scss */
.sm-player .progress-container .progress-bar-container .progress-bar-hover-boundary .helper .on-hover-thick .progress-bar-background .current-duration {
  position: absolute;
  top: 0;
  height: inherit;
  width: 0px;
  background: #39dea1;
  z-index: 4;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
/* line 123, ../sass/sm.player.scss */
.sm-player .progress-container .progress-bar-container .progress-bar-hover-boundary .helper .on-hover-thick .progress-bar-background .current-duration .pointer {
  position: absolute;
  left: 100%;
  top: 50%;
  width: 13px;
  height: 13px;
  background: #F7F5F5;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  z-index: 10;
}
/* line 139, ../sass/sm.player.scss */
.sm-player .progress-container .progress-bar-container .progress-bar-hover-boundary .helper .on-hover-thick .progress-bar-background .change-duration-onhover-1 {
  position: absolute;
  left: 0;
  height: inherit;
  width: 0px;
  background: rgba(222, 222, 222, 0.6);
  z-index: 3;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
/* line 149, ../sass/sm.player.scss */
.sm-player .progress-container .progress-bar-container .progress-bar-hover-boundary .helper .on-hover-thick .progress-bar-background .change-duration-onhover-2 {
  position: absolute;
  height: inherit;
  left: 0;
  width: 0px;
  z-index: 1;
  background: rgba(191, 191, 191, 0.8);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
/* line 168, ../sass/sm.player.scss */
.sm-player .progress-container .duration-time {
  float: left;
  position: absolute;
  height: inherit;
  width: 70px;
  border: 0px solid black;
  right: 0;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}
/* line 179, ../sass/sm.player.scss */
.sm-player .progress-container .duration-time span {
  line-height: 50px;
  font-size: 14px;
}

@media only screen and (min-width: 1200px) {
  /* line 189, ../sass/sm.player.scss */
  .sm-player {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  /* line 201, ../sass/sm.player.scss */
  .progress-time, .duration-time {
    display: none;
  }

  /* line 204, ../sass/sm.player.scss */
  .progress-bar-container {
    width: 100%;
    padding: 0 12px 0 8px;
  }
}
@media only screen and (min-width: 480px) {
  /* line 210, ../sass/sm.player.scss */
  .progress-bar-container {
    width: calc(100% - 2 * 70px);
  }
}
