/* // normal bootstrap
$xtra-small-screen-width:       332px;  // > xtra xtra small                  //
$small-screen-width:            480px;  // > xtra small                       //
$medium-screen-width:           768px;  // > small && < medium                //
$large-screen-width:            992px;  // > medium && < large                //ipad mini
$xtra-large-screen-width:       1200px; // > large  && < xtra large: ;        //
$xtra-xtra-large-screen-width:  1600px; // > xtra large && < xtra xtra large: //;

// normal bootstrap
$xxsm-layout-width:  100%;
$xsm-layout-width:   100%;
$sm-layout-width:    100%;
$md-layout-width:    768px;
$lg-layout-width:    960px;
$xlg-layout-width:   1170px;
$xxlg-layout-width:  1300px; */
/* 
// normal bootstrap
$xtra-small-screen-width:       332px;  // > xtra xtra small                  //
$small-screen-width:            480px;  // > xtra small                       //
$medium-screen-width:           768px;  // > small && < medium                //
$large-screen-width:            992px;  // > medium && < large                //ipad mini
$xtra-large-screen-width:       1200px; // > large  && < xtra large: ;        //
$xtra-xtra-large-screen-width:  1600px; // > xtra large && < xtra xtra large: //;

// normal bootstrap
$xxsm-layout-width:  100%;
$xsm-layout-width:   100%;
$sm-layout-width:    100%;
$md-layout-width:    90%;
$lg-layout-width:    95%;
$xlg-layout-width:   1170px;
$xxlg-layout-width:  1300px; */
/* line 4, ../sass/track-cards.scss */
.card.song {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
  /* non-prefixed version, currently
     not supported by any browser */
}
/* line 13, ../sass/track-cards.scss */
.card.song .actions-head, .card.song .actions-foot {
  z-index: 10;
}
/* line 16, ../sass/track-cards.scss */
.card.song .actions-head .view, .card.song .actions-foot .view {
  cursor: pointer;
  border: 4px solid transparent;
  border-radius: 16px;
  opacity: 0.5;
  transition: all 0.3s linear;
  box-sizing: border-box;
}
/* line 25, ../sass/track-cards.scss */
.card.song .actions-head .ctrl, .card.song .actions-foot .ctrl {
  cursor: pointer;
  border: 4px solid transparent;
  border-radius: 16px;
  opacity: 0.5;
  transition: all 0.3s linear;
  box-sizing: border-box;
}
/* line 33, ../sass/track-cards.scss */
.card.song .actions-head .ctrl i, .card.song .actions-foot .ctrl i {
  font-size: 1em;
  opacity: 0.5;
}
/* line 38, ../sass/track-cards.scss */
.card.song .actions-head .ctrl:hover, .card.song .actions-foot .ctrl:hover {
  background: #f8f8f8;
  color: black;
  font-weight: bold;
  opacity: 1;
  transition: all 0.3s linear;
  border: 4px solid transparent;
}
/* line 47, ../sass/track-cards.scss */
.card.song .actions-head .ctrl:hover i, .card.song .actions-foot .ctrl:hover i {
  opacity: 1;
  -webkit-transition: opacity 0.3s linear;
}
/* line 52, ../sass/track-cards.scss */
.card.song .actions-head .ctrl:active, .card.song .actions-foot .ctrl:active {
  background: #e3e3e3;
  color: black;
  font-weight: bold;
  opacity: 1;
  transition: all 0.3s linear;
  border: 4px solid transparent;
}
/* line 61, ../sass/track-cards.scss */
.card.song .actions-head .ctrl:active i, .card.song .actions-foot .ctrl:active i {
  opacity: 1;
  transition: opacity 0.3s linear;
}
/* line 69, ../sass/track-cards.scss */
.card.song .actions-foot {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}
/* line 78, ../sass/track-cards.scss */
.card.song .content-media {
  z-index: 1;
  position: relative;
}
/* line 81, ../sass/track-cards.scss */
.card.song .content-media:hover {
  opacity: 0.95;
}
/* line 84, ../sass/track-cards.scss */
.card.song .content-media .play-outer {
  position: relative;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  border-radius: 100px;
  background-clip: border-box;
  border: 2px solid transparent;
  cursor: pointer;
  -webkit-transition: border 0.3s linear;
  z-index: 10;
}
/* line 97, ../sass/track-cards.scss */
.card.song .content-media .play-outer .play-inner {
  position: relative;
  background-color: rgba(80, 80, 80, 0.07);
  margin: auto;
  border-radius: 100px;
  -webkit-transition: background-color 0.3s linear, border 0.3s linear;
  border: 2px solid #1ADC94;
  box-sizing: border-box;
}
/* line 109, ../sass/track-cards.scss */
.card.song .content-media .play-outer .play-inner i {
  position: absolute;
  left: 2px;
  color: #333333;
}
/* line 116, ../sass/track-cards.scss */
.card.song .content-media .play-outer .play-inner:hover {
  background-color: rgba(51, 51, 51, 0.1);
  -webkit-transition: background-color .3s linear;
}
/* line 124, ../sass/track-cards.scss */
.card.song .content-media .play-outer:hover {
  border: 2px solid #1ADC94;
  -webkit-transition: border 0.6s linear;
}
/* line 129, ../sass/track-cards.scss */
.card.song .content-media .ctrl-options {
  position: absolute;
  top: 0;
  height: inherit;
  width: inherit;
  transition: background 2s linear;
}
/* line 137, ../sass/track-cards.scss */
.card.song .content-media .ctrl-options .ctrls {
  position: absolute;
  bottom: 0;
  height: 30px;
  width: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 146, ../sass/track-cards.scss */
.card.song .content-media .ctrl-options .ctrls .like {
  float: left;
  position: relative;
  height: 30px;
  width: 50%;
  border: 0px solid black;
}
/* line 153, ../sass/track-cards.scss */
.card.song .content-media .ctrl-options .ctrls .like .like-icon {
  float: left;
  position: relative;
  width: 25%;
  height: inherit;
  margin-left: 10px;
}
/* line 160, ../sass/track-cards.scss */
.card.song .content-media .ctrl-options .ctrls .like .like-icon .icon-hover-boundary {
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 200px;
  background: rgba(238, 238, 238, 0.5);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 0px solid black;
}
/* line 172, ../sass/track-cards.scss */
.card.song .content-media .ctrl-options .ctrls .like .like-icon .icon-hover-boundary i {
  position: relative;
  line-height: 25px;
  font-size: 16px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease-in;
}
/* line 184, ../sass/track-cards.scss */
.card.song .content-media .ctrl-options .ctrls .like .like-count {
  float: left;
  right: 0;
  height: inherit;
  border: 0px solid black;
  margin-left: 5px;
}
/* line 193, ../sass/track-cards.scss */
.card.song .content-media .ctrl-options .ctrls .like .like-count p {
  line-height: 30px;
  text-shadow: 1px 1px 0px white;
}
/* line 200, ../sass/track-cards.scss */
.card.song .content-media .ctrl-options .ctrls .share {
  float: left;
  position: relative;
  width: 25%;
  height: 30px;
}
/* line 206, ../sass/track-cards.scss */
.card.song .content-media .ctrl-options .ctrls .share .share-hover-boundary {
  position: relative;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: 5px;
  border: 0px solid black;
  text-align: center;
}
/* line 217, ../sass/track-cards.scss */
.card.song .content-media .ctrl-options .ctrls .share .share-hover-boundary p {
  line-height: 20px;
  text-shadow: 1px 1px 0px white;
}
/* line 224, ../sass/track-cards.scss */
.card.song .content-media .ctrl-options .ctrls .more-options {
  position: absolute;
  height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  right: 0;
  width: 25%;
  top: 50%;
  transform: translateY(-50%);
}
/* line 234, ../sass/track-cards.scss */
.card.song .content-media .ctrl-options .ctrls .more-options p {
  line-height: 20px;
  cursor: pointer;
  text-shadow: 1px 1px 0px white;
}
/* line 247, ../sass/track-cards.scss */
.card.song .content .title:hover, .card.song .content .author:hover {
  transition: background 2s linear;
  cursor: pointer;
}
