<br>
<div class="container dashboard">
  <div class="side-nav">
    <br><br><br>
    <div class="row no-plr c-e3">
      <div class="col ptb-16 plr-16 mb-8 btn-effect-1 tr-background-300">Home</div>
      <div class="col ptb-16 plr-16 mb-8 btn-effect-1 tr-background-300">Home</div>
      <div class="col ptb-16 plr-16 mb-8 btn-effect-1 tr-background-300">Home</div>
      <div class="col ptb-16 plr-16 mb-8 btn-effect-1 tr-background-300">Home</div>
    </div>
  </div>
  <div class="dashboard-view pl-16">
    <div class="row">
      <h6>Welcome {{ username }}</h6>
      <div class="hr"></div>
      
      <div class="row stat c-e3 xsm-h-100 md-h-200 mb-16">
        <h3 class="tac">Some stat graphs goes here</h3>
      </div>
      <div class="row stats c-e3">
        <h4 class="tac">Rows of tracks</h4>
      </div>
    </div>
  </div>
</div>
<br>