<div class="track-container">

  <div ng-repeat="track in trackList">

    <div class="col xsm-c6 sm-c4 md-c3 lg-c3 xlg-c2_4 xxlg-c2 pb-16">

    <!-- Later to be used with adverticement -->
    <!-- <div class="col xsm-c6 sm-c4 md-c3 lg-c4 xlg-c3 pb-16"> -->
      <div class="card song">
        <div class="content-media" style="background: url({{track.img}}) center / cover">
          <div class="actions-head">
            <div class="col xsm-c4 ptb-4 tac view">2k</div>
            <div class="col xsm-c4 ptb-4 tac ctrl">
              <i class="material-icons">favorite</i>
            </div>
            <div class="col xsm-c4 ptb-4 tac ctrl">
              <i class="material-icons">share</i>
            </div>
          </div>
          <div class="actions-foot mb-8">
            <div class="row">
              <div class="col xsm-c4 o-xsm-c8 ptb-4 tac ctrl">
                  <i class="material-icons">file_download</i>
              </div>
            </div>
          </div>
          
          <div class="play-outer">
            <div class="play-inner" ng-click="playPauseThisTrack($index)">

              <i class="material-icons play-arrow" ng-hide="track.playing">play_arrow</i>
              <i class="material-icons play-arrow" ng-show="track.playing">pause</i>
            </div>
         </div>
        </div>

        <div class="content">
          <div class="subject title">
             This is a subject text fot a simple card 
          </div>
          <div class="support author">
            This is a support text fot a simple card
          </div>
        </div>
      </div>
    </div>

    <!-- card title -->
<!--     <div class="card-title" style="background: url({{track.img}}) center / cover">
      <div class="play-outer">
        <div class="play-inner" ng-click="playPauseThisTrack($index)">

            <i class="material-icons play-arrow" ng-hide="track.playing">play_arrow</i>
            <i class="material-icons play-arrow" ng-show="track.playing">pause</i>
        </div>
      </div> -->

<!-- 
      <div class="ctrl-options">

  <div class="ctrls">
    <div class="like">
      <div class="like-icon">
        <div class="icon-hover-boundary">
          <i class="material-icons">favorite</i>
        </div>
      </div>
      <div class="like-count">
          <p>60k</p>
      </div>
    </div>
    <div class="share">
      <div class="share-hover-boundary">
        <p>Share</p>
      </div>
    </div>
    <div class="more-options">
      <p> ooo </p>
    </div>
  </div>  

</div>

 -->
    <!-- end card title -->

<!--     <div class="supporting-item">
      <p class="track-name">{{track.title}} - {{$index}}</p>
      <p class="author"><span>{{track.author}}</span></p>  
    </div>
  </div> -->
</div>