<br>
<div class="container login">

  <div class="row">
    <div class="form-container xsm-c8 o-xsm-c2 sm-c6 o-sm-c3">

      <div class="form mid-h">

        <div class="form-item mb-16">
          <input type="text" ng-model="user.username">
        </div>
        <div class="form-item mb-16">
          <input type="password" ng-model="user.password">
        </div>
        <div class="btn btn-t3 c12 mb-16" ng-click="submit(user)">
            Login
        </div>
        <!-- <div class="col">Sign up</div> -->
      </div>
    </div>
  </div>
</div>
<br>