<div class="container">
  <div class="jumbotron c-f8 lg-h-400 sm-h-200 xsm-h-150 xxsm-h-100 mtb-16">
    <div class="media media-hfill">
      <img src="http://www.zastavki.com/pictures/originals/2013/Music_Coldplay_singing_the_song_045612_.jpg" alt="">
    </div>
  </div>
  <div class="col md-c12 lg-c12 plr-24 c-w der-1-e3">

  <!-- Later to be used with adverticement -->
  <!-- <div class="col md-c12 lg-c8 xlg-c9 plr-16 c-w der-1-e3"> -->
    <div class="row df mtb-16">
      <div class="col c6">  
        <h3>Tracks</h3>
      </div>
      <div class="col c6">
      </div>
      <div class="hr"></div>
    </div>
    
    <gp-track-cards></gp-track-cards>

    <div class="show-more">
      <div class="row">
        <div class="btn btn-t3 col c-e3 fs-1_2">show more</div>
      </div>
    </div>
  </div>

  <!-- adverticements -->
<!--   <div class="col md-hide lg-c4 xlg-c3 no-plr">
    <div class="c-e3">
    <div class="cir-250 mid-h"></div></div>
  </div> -->
</div>


  