<div class="container">
  <div class="col md-c12 lg-c12 pb-8 c-w der-1-e3">

  <!-- Later to be used with adverticement -->
  <!-- <div class="col md-c12 lg-c8 xlg-c9 plr-16 c-w der-1-e3"> -->
    <div class="row df mtb-16">
      <div class="col">  
        <h3>Search results</h3>
      </div>
      <div class="hr"></div>
    </div>
    
    <gp-search-result></gp-search-result>

    <div class="show-more">
      <div class="row">
        <div class="btn btn-t3 col c-e3 fs-1_2">show more</div>
      </div>
    </div>
  </div>

  <!-- adverticements -->
<!--   <div class="col md-hide lg-c4 xlg-c3 no-plr">
    <div class="c-e3">
    <div class="cir-250 mid-h"></div></div>
  </div> -->
</div>
