// @import "md.scss";
@import "variables.scss";
@import "../../node_modules/bourbon/core/_bourbon.scss";

*{
  margin: 0;
  padding: 0;
}

// 
.player{
  position: fixed;
  width: 100%;
  height: $player-height;
  bottom: 0;
  border-top: $player-top-border;
  background-color: $player-background-color;
  z-index: 1000;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */

  // box-shadow-top:  0px -1px 2px 1px rgba(0,0,0, 0.8);

  .player-msg{
    position: absolute;
    bottom: 120%;
    left: 100px;
    // width: 100px;
    // height: 100px;
    padding: 16px;
    padding-top: 10px; 
    padding-bottom: 10px; 

    background: white;
    border: 1px solid rgba(0,0,0, 0.1);
    border-radius: 3px;
    
    .arrow{
      position: absolute;
      width: 15px;
      height: 15px;
      border: 1px solid rgba(0,0,0, 0.1);
      // border-top: 1px solid white;
      top: 100%;
      left: 50%;
      transform: rotateZ(45deg) translateY(-52%);
    }    
  
  }

  .player-container{
    position: relative;
    margin: auto;
    height: inherit;
    width: $main-container-width;
    border-left: $test-border-left;
    border-right: $test-border-right;

     .main-controls{
      float: left;
      position: relative;
      margin-left: 16px;
      width: 206px;
      height: inherit;
      border-right: $test-border-right;
    
      .previous, .play, .next, .repeatToggle{
        float: left;
        position: relative;
        width: 51px;
        height: inherit;
        // cursor: pointer;
        // border-right: $test-border-right;
        // border-left: $test-border-left;
      }

      .icon-hover-boundary{
        cursor: pointer;
        // background: green;

        i{
          -webkit-transition: text-shadow .3s ease-out;
        }
      }

      .icon-hover-boundary:hover{
        opacity: 0.8;
        
        $icon-hover-color: aquamarine;
        i{
          text-shadow: 1px 1px 0px $icon-hover-color, -1px 0px 0px $icon-hover-color, 1px -1px 0px $icon-hover-color;
          -webkit-transition: text-shadow .3s ease-out;
        }
      }

      .previous, .next{
        position: relative;
        margin: auto;
        
        $icon-hover-height: 35px;
        .icon-hover-boundary{
          position: relative;
          height: $icon-hover-height;
          width: $icon-hover-height;
          margin: auto;
          top: 50%;
          transform: translateY(-50%);
          border-radius: $icon-hover-height;

          i{
            position: relative;
            line-height: $icon-hover-height;
            font-size: 35px;
            left: 50%;
            transform: translateX(-50%);
          }
        }

      }//end play

      .play{
        position: relative;
        margin: auto;
        
        //defining a variable for more control
        $icon-hover-height: 40px;

        .icon-hover-boundary{
          position: relative;
          height: $icon-hover-height;
          width: $icon-hover-height;
          margin: auto;
          top: 50%;
          transform: translateY(-50%);
          border-radius: $icon-hover-height;

          i{
            position: relative;
            line-height: $icon-hover-height;
            font-size: 50px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }//end play

      .repeatToggle{
        position: relative;
        margin: auto;
        
        //defining a variable for more control
        $icon-hover-height: 35px;
        .icon-hover-boundary{
          position: relative;
          height: $icon-hover-height;
          width: $icon-hover-height;
          margin: auto;
          top: 50%;
          transform: translateY(-50%);
          border-radius: $icon-hover-height;

          i{
            position: relative;
            line-height:  $icon-hover-height;
            font-size: 20px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }//end repeatToggle

    }//end main-controls
    
    $progress-container-width: 596px;
    $time-margin: 10px;
    $time-width: 51px;
    .progress-container{
      float: left;
      position: relative;
      width: $progress-container-width;
      height: inherit;
      border: $test-border-right;
      
      .progress-time{
        float: left;
        position: relative;
        height: inherit;
        width: $time-width;
        border: $test-border-right;
        margin-right: $time-margin;
        margin-left: $time-margin;
        text-align: center;

        span{
          line-height: $player-height;
          font-size: 14px;
        }
      }

      .progress-bar-container{
        float: left;
        position: relative;
        height: inherit;
        width: ($progress-container-width - 2 * ( 2 * $time-margin + $time-width));
        border-right: $test-border-right;
        border-left: $test-border-left;
        border-radius: 4xp;
        // background: violet;

        .progress-bar-hover-boundary{
          position: relative;
          width: inherit;
          height: 24px;
          top: 50%;
          transform: translateY(-50%);
          border-radius: 4xp;
          // background: aquamarine;
          cursor: pointer;
          
          .helper{
            position: relative;
            width: inherit;
            top: 50%;
            transform: translateY(-50%);
            @include player-progress-border-radious($player-progress-radious);

            .on-hover-thick{
              position: absolute;
              width: inherit;
              height: 4px;
              top: 50%;
              transform: translateY(-50%);
              @include player-progress-border-radious($player-progress-radious);

              .progress-bar-background{
                width: inherit;
                height: inherit;
                background: rgba(236,236,236,1);
                border-radius: 4xp;
                @include player-progress-border-radious($player-progress-radious);

                .loaded-duration{
                  position: absolute;
                  height: inherit;
                  width: 0px;
                  background: rgba(219,219,219,1);
                  @include player-progress-border-radious($player-progress-radious);
                }

                .current-duration{
                  position: absolute;
                  top: 0;
                  height: inherit;
                  width: 0px;
                  background: #39dea1;
                  z-index: 4;
                  @include player-progress-border-radious($player-progress-radious);
                  
                  .pointer{
                    position: absolute;
                    left: 100%;
                    top: 50%;
                    width: 13px;
                    height: 13px;
                    background: #F7F5F5;
                    border: 1px solid #c1c1c1;
                    border-radius: 10px;
                    transform: translate(-50%, -50%);
                    z-index: 10;
                  }//end pointer


                }//end current-duration

                .change-duration-onhover-1{
                  position: absolute;
                  left: 0;
                  height: inherit;
                  width: 0px;
                  background: rgba(222,222,222, 0.6);
                  z-index: 3;
                  @include player-progress-border-radious($player-progress-radious);
                }

                .change-duration-onhover-2{
                  position: absolute;
                  height: inherit;
                  left: 0;
                  width: 0px;
                  z-index: 1;
                  background: rgba(191,191,191,0.8);
                  @include player-progress-border-radious($player-progress-radious);
                }

                
              }//end progress-background
            }
          }
          
        }//end progress-bar-hover-boundary

      }

      .duration-time{
        float: left;
        position: absolute;
        height: inherit;
        width: $time-width;
        border: $test-border-right;
        right:0;
        margin-right: $time-margin;
        margin-left: $time-margin;
        text-align: center;

        span{
          line-height: $player-height;
          font-size: 14px;
        }
      }

    }//end progress-container

    .volume-container{
      float: left;
      position: relative;
      height: inherit;
      // width: 300px;
      margin-left: $time-margin;
      // background: green;

      .volume-icon{
        float: left;
        position: relative;
        height: inherit;
        width: 51px;
        border: $test-border-right;
        
        $icon-hover-height: 40px;
        $icon-hover-width: 40px;
        .icon-hover-boundary{
          position: relative;
          height: $icon-hover-height;
          width: $icon-hover-width;
          margin: auto;
          top: 50%;
          transform: translateY(-50%);
          border-top-left-radius: $icon-hover-height;
          border-bottom-left-radius: $icon-hover-height;
          cursor: pointer;
          border: $test-border-right;

          i{
            position: relative;
            line-height:  $icon-hover-height;
            font-size: 20px;
            left: 50%;
            transform: translateX(-50%);
            transition: text-shadow .3s ease-out;
          }
        }//end icon-hover-boundary 
      
        .icon-hover-boundary:hover{
            opacity: 0.8;
            
            $icon-hover-color: aquamarine;
            i{
              text-shadow: 1px 1px 0px $icon-hover-color, -1px 0px 0px $icon-hover-color, 1px -1px 0px $icon-hover-color;
              -webkit-transition: text-shadow .3s ease-out;
            }
          }

      }//end volume-icon

      .vol-bar-container{
          float: left;
          position: relative;
          height: inherit;
          width: 110px;
          border: $test-border-right;

          .vol-bar-hover-boundary{
            position: relative;
            // width: inherit;
            height: 24px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            margin-right: 10px; 
            border: $test-border-right;

            .helper{
              position: relative;
              width: inherit;
              top: 50%;
              transform: translateY(-50%);

              .on-hover-thick{
                height: 4px;
                width: inherit;
                @include player-progress-border-radious($player-progress-radious);

                .vol-bar-background{
                  position: relative;
                  height: inherit;
                  width: inherit;
                  background: rgba(219,219,219,0.8);
                  @include player-progress-border-radious($player-progress-radious);
                  
                  .current-volume{
                    position: absolute;
                    top: 0;
                    height: inherit;
                    width: 50px;
                    background: #39dea1;
                    z-index: 4;
                    @include player-progress-border-radious($player-progress-radious);

                  .pointer{
                    position: absolute;
                    left: 100%;
                    top: 50%;
                    width: 13px;
                    height: 13px;
                    background: #F7F5F5;
                    border: 1px solid #c1c1c1;
                    border-radius: 10px;
                    transform: translate(-50%, -50%);
                    z-index: 10;
                  }//end pointer


                  }//end current-volume

                  .change-duration-onhover-1{
                    position: absolute;
                    left: 0;
                    height: inherit;
                    width: 0px;
                    background: rgba(222,222,222, 0.6);
                    z-index: 3;
                    @include player-progress-border-radious($player-progress-radious);
                  }

                  .change-duration-onhover-2{
                    position: absolute;
                    height: inherit;
                    left: 0;
                    width: 0px;
                    z-index: 1;
                    background: rgba(191,191,191,1);
                    @include player-progress-border-radious($player-progress-radious);
                  }
                }
              }
            }//end helper
          }//end vol-bar-hover-boundary
        }//end vol-bar-container

    }//END -> volume-container
      
    $track-info-width: 272px;
    .track-info{
      float: left;
      position: relative;
      width: $track-info-width;
      height: inherit;
      border: $test-border-right;
      margin-left: 10px;

      .track-image{
        float: left;
        position: relative;
        width: ($player-height - 2 * 5px);
        height: ($player-height - 2 * 5px);
        top: 5px;
        left: 5px;
        border: 1px solid rgba(0,0,0, 0.1);
        background: url($textimage) center / cover;

        .icon-hover-boundary{
          width: inherit;
          height: inherit;
          // background: #e3e3e3;
          cursor: pointer;
          
          i{
              position: relative;
              line-height:  ($player-height - 2 * 5px);
              font-size: 35px;
              left: 50%;
              transform: translateX(-50%);
              opacity: 0.6;
              transition: text-shadow .3s ease-out;
            }

        }//end icon-hover-boundary
        
        .icon-hover-boundary:hover {
          $icon-hover-color: aquamarine;
          i{
            text-shadow: 1px 1px 0px $icon-hover-color, -1px 0px 0px $icon-hover-color, 1px -1px 0px $icon-hover-color;
            -webkit-transition: text-shadow .3s ease-out;
          }
        }
      }

      .track-details{
        float: left;
        position: relative;
        height: inherit;
        width: ($track-info-width - 60px);
        border: $test-border-right;
        margin-left: 15px;
        
        .track-title{
          line-height: $player-height/2;
          text-align: left;
          font-weight: bold;

          max-width: 140px;
          // display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .track-author{
          line-height: 20px;
          text-align: left;

          max-width: 140px;
          // display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .like{
          position: absolute;
          right: 0;
          top: 0;
          width: $player-height;
          height: inherit;
          border: $test-border-right;
          
          $icon-hover-height: 30px;
          .icon-hover-boundary{
            position: relative;
            height: $icon-hover-height;
            width: $icon-hover-height;
            margin: auto;
            top: 50%;
            transform: translateY(-50%);
            border-radius: $icon-hover-height;
            cursor: pointer;
            background: #ececec;

            i{
              position: relative;
              line-height:  $icon-hover-height;
              font-size: 18px;
              left: 50%;
              transform: translateX(-50%);
              opacity: 0.4;
              -webkit-transition: all 0.3s ease-in;
            }
          }//end icon-hover-boundary 

          .icon-hover-boundary:hover i{
            color: #39dea1;
            -webkit-transition: all 0.3s ease-out;
            opacity: 1;
          }

        }
      }

    }//end track-info

  }//end player-container
}

//